/* --------------------[Profile Page (Logged In) Definitions]-------------------- */
@media screen and (min-width: 1280px) { #profile-main { max-width: 1280px; } }
@media screen and (min-width: 1620px) { #profile-main { max-width: 80%; } }
#profile-main {
    column-gap: 2%;
    display: grid;
    grid-template-areas: 
        "a a"
        "b c";
    grid-template-columns: 4fr 1fr;
    margin: auto;
}

#profile-left, #profile-right {
    display: flex;
    flex-direction: column;
}
#profile-left {
    grid-area: b;
}
#profile-right {
    border: 1px solid black;
    border-radius: 5px;
    grid-area: c;
    max-height: max-content;
}

/* --------------------[Landing Page (Logged Out) Definitions]-------------------- */

.landing-btn-blk, .landing-btn-grn, .landing-btn-out {
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 12px 30px;
}
.landing-btn-grn { background-color: #CCFF00; }
.landing-btn-blk { background-color: black; color: white; }
.landing-btn-out { background: none; border: 1px solid white; color: white; }
.landing-btn-disclosure {
    background: none;
    border: none;
    font-size: 16px;
}
.landing-btn-blk:hover, .landing-btn-grn:hover, .landing-btn-out:hover, .landing-btn-disclosure:hover {
    cursor: pointer;
    opacity: 0.85;
}

#landing-main {
    display: grid;
    row-gap: 0px;
}

#landing-main__1 {
    align-items: center;
    background-image: linear-gradient(black, white);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    max-height: 666px;
    text-align: center;
}
#landing-main__1 > img { max-width: min-content; }

#landing-main__2 {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    max-height: 280px;
}
#landing-main__2 > img { 
    max-height: 60%;
    margin-right: 50px;
}
#landing-main__2 > div { 
    font-size: 16px;
    max-width: 30%;
}

#landing-main__3 {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 800px;
    position: relative;
    z-index: 0;
}
#landing-main__3 > img {
    margin: auto;
    max-height: 800px;
    position: absolute;
    top: 0;
    z-index: 1;
}
#landing-main__3 > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 760px;
    justify-content: center;
    margin-left: 60%;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

#landing-main__4 {
    align-items: flex-start;
    background-image: url("https://images.ctfassets.net/ilblxxee70tt/2zqFBs1Dk1ZFLa68vgaCUM/ae93f6273da3b74ae09899a4cdcee75e/wide_crypto_hero_4k_test_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 795px;
    justify-content: center;
    position: relative;
    z-index: 0;
}
#landing-main__4 > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 780px;
    justify-content: center;
    margin-left: 60%;
    margin-right: auto;
    position: relative;
    z-index: 2;
}
#landing-main__4 > p {
    margin-left: 60%;
    margin-right: auto;
}

#landing-main__5 {
    align-items: center;
    background-color: #1C180D;
    color: white;
    display: flex;
    flex-direction: column;
    height: 1126px;
    padding-top: 50px;
    text-align: center;
}
#landing-5-grid {
    column-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    margin-top: 84px;
    row-gap: 78px;
    width: 656px;
}
#landing-5-grid > div {
    height: 286px;
    margin-bottom: 50px;
    width: 286px;
}

#landing-main__6 {
    background-color: #CCFF00;
    display: flex;
    justify-content: center;
    text-align: center;
}
#landing-main__6 > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 745px;
    justify-content: space-between;
    width: 608px;
}

#landing-main__7 {
    background-color: black;
    color: white;
    height: 704px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
#landing-main__7 > video {
    height: 100%;
    left: 50%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#landing-main__7 > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}