/* --------------------[Profile Page (Logged In) Definitions]-------------------- */
@media screen and (min-width: 1280px) { #profile-main { max-width: 1280px; } }
@media screen and (min-width: 1620px) { #profile-main { max-width: 80%; } }

.profile-module {
    border: 1px solid #CCFF00;
    border-radius: 6px;
    min-width: 100%;
}
.profile-module__title {
    background-color: #CCFF00;
    box-sizing: border-box;
    color: black;
    font-size: x-large;
    /* Alongside the 20px left padding, replace the auto margin with padding
       so that background-color applies to the entire area  */
    margin: 0;
    padding: 18.72px 0 18.72px 20px;
}

#profile-main {
    column-gap: 2%;
    display: grid;
    grid-template-areas: 
        "a a"
        "b c";
    grid-template-columns: 4fr 1fr;
    margin: auto;
}

#profile-left, #profile-right {
    display: flex;
    flex-direction: column;
}
#profile-left {
    grid-area: b;
}
#profile-right {
    border-radius: 5px;
    grid-area: c;
    max-height: max-content;
}

/* --------------------[Landing Page (Logged Out) Definitions]-------------------- */

.landing-btn-blk, .landing-btn-grn, .landing-btn-out {
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 12px 30px;
}
.landing-btn-grn { background-color: #CCFF00; }
.landing-btn-blk { background-color: black; color: white; }
.landing-btn-out { background: none; border: 1px solid white; color: white; }
.landing-btn-disclosure {
    background: none;
    border: none;
    font-size: 16px;
}
.landing-btn-blk:hover, .landing-btn-grn:hover, .landing-btn-out:hover, .landing-btn-disclosure:hover {
    cursor: pointer;
    opacity: 0.85;
}

#landing-main {
    display: grid;
    row-gap: 0px;
}

#landing-main__1 {
    align-items: center;
    background-image: linear-gradient(black, white);
    color: #e8e6e3;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    max-height: 666px;
    text-align: center;
}
#landing-main__1 > img { max-width: min-content; }

/* R.I.P landing-main 2 thru 6 */

#landing-main__7 {
    background-color: black;
    color: white;
    height: 704px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
#landing-main__7 > video {
    height: 100%;
    left: 50%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#landing-main__7 > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}
#landing-main__7 > div > button { 
    background-color: #CCFF00;
    border-radius: 30px;
    color: black; 
    font-size: 16px;
    padding: 12px 30px;
    width: max-content;
}
#landing-main__7 > div > button:hover { opacity: 0.85; }