/* --------------------[Stock List Definitions]-------------------- */

div.psl-divider {
    border-bottom: 1px solid black;
}

.profile-stock-list {
    min-width: 300px;
}

.psl-btn {
    background: none;
    border: none;
    cursor: pointer;
}
#psl-btn-add { font-size: 1.5em; }
#psl-btn-dropdown { font-size: 1em; }

.psl-section-head, .psl-watchlist__head {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.psl-stock {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.psl-stock__info-ctrl {
    display: flex;
}
.psl-stock__trend {
    text-align: end;
}
.psl-stock__val { margin: 10px auto 2px auto; }
.psl-stock__prc { margin: 0 auto 0 auto; }

.psl-watchlist__head { 
    align-items: center;
    min-height: 60px; 
}