#stock-page {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 60%;
}

img.stock-company-icon {
    display: flex;
    height: 50px;
    max-width: 400px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#price > h2 {
    display: flex;
    margin: 5px;
    padding-left: 20px;
}

#price > p {
    display: flex;
    margin: 5px;
    padding-left: 20px;
}

#title h1 {
    display: flex;
    margin: 5px;
}

#title img {
    margin-left: 10px;
    border-radius: 10px;
}

.green {
    color: rgb(0, 186, 0);
}

.red {
    color: rgb(255, 0, 0);
}

.buy-sell {
    position: fixed;
    top: 200px;
    right: 10%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), /* Far shadow */ 
                5px 5px 10px rgba(0, 0, 0, 0.3); /* Near shadow */
    padding: 15px;
    width: fit-content;
    min-width: 200px;
    background-color: white;
}

.buy-sell form {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.buy-sell * {
    margin: 5px;
}

#related {
    display: flex;
    justify-content: space-evenly;
}

#related li:first-child {
    border-left: none;
}

#related li {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    border-left: 1px solid black;
    justify-content: center;
    flex-grow: 1;
}

#related h3 {
   align-self: center;
}

#related a{
    align-self: center;
}

.stock-chart {
    display: flex;
    flex-grow: 1;
}

.chart-container {
    min-height: 500px;
}
 
.key-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    justify-content: space-between;
}

.key-stats p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-stats span {
    font-weight: bold;
    padding-bottom: 2px;
}

.btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 30px;
    color: #CCFF00;
    background-color: black;
}

.red .btn{
    background-color: red;
    color: black;
    /* border: 2px solid red; */
}

.green .btn{
    background-color: #CCFF00;
    color: black;
    /* border: 2px solid rgb(0, 186, 0); */
}

#about {
    display: grid;
    align-content: baseline;
}

#about h2 {
    border-bottom: 1px solid black;
}

#about-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-heading > img{
    flex-shrink: 1;
    padding-right: 20px;
}

#about-heading > h3 {
    flex-grow: 1;
}

#related a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover {
    background-color: #CCFF00;
}

a {
    text-decoration: none;
    color: black; 
}
   
#about a {
    padding: 0px ;
}

@media screen and (max-width:1200px){
    #stock-page {
        margin-left: 5%;
    }
    .buy-sell {
        right: 5%;
    }
    .chart-container {
        max-height: 350px;
    }


}
