.profile-dropdown {
  position: absolute;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: .5fr 1fr .5fr;
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color:  #CCFF00;
  height: 50px;
  box-sizing: border-box;
  margin: 0px;
  z-index: 99;
}

#logo {
  scale: 1.75;
}

li#logo * {
  color: black;
}

li#logo:active *{
  color: white;
}

ul {
  padding-left: none;
}

.nav-btn {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
  color: #CCFF00;
  background-color: black;
}

form input {
  border-radius: 5px;
  background-color: lightgrey;
  margin-right: 20px;
  height: 30px;
  border: 0px;
  padding-left: 10px;
}
form input:hover {
  background-color: white;
}

.nav-btn:hover, .btn:hover{
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 
                5px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-btn:active, .btn:active {
  box-shadow: none;
}
